#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    flex: 1;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    background-color: $menuBg;
    height: 100%;
    font-size: 0px;
    z-index: 1001;
    overflow: hidden;
  }
}


